<% provide(:title, 'Help') %>
<h1>Need Help?</h1>
<p>
  Check out these pages
  <ul>
    <li>
      <a href="https://google.com">Know-it-all</a>
    </li>
    <li>
      <a href="https://stackoverflow.com">Programmer Related</a>
    </li>
  </ul>
</p>
